{% extends 'dummy.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Home</title>
    {% endblock %}
</head>
{% block body_block %}
<body>
    <center>
      <div>
        <form method="POST">
          {% csrf_token %}
          <label for="email">EMAIL_ID</label>
          <input type="text" name="email" id="email">
          <br><br>
          <input type="submit" value="Get OTP">
        </form>
      </div>
    </center>
</body>
{% endblock %}
</html>